html {
	font-size: 10px;
}

body {
	background: #000000;
	font-family: 'NexaBold';
	font-size: 24px;
	font-size: 2.4rem;
	line-height: 1.4;
}

/*----------------------------------------  GLOBAL  */

#all {
	background-color: blue;
	z-index:-1;
}

#content {
	background-color: white;
	width:100%;
	top:0px;
	position: fixed;
}

.section {
	background-color: white;
	width: 100%;
	position:relative;
	height:500px;
}


.section-title {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width:100%;
	font-family: 'Akashi';
	font-size: 3em;
}

/*----------------------------------------  HEADER  */

#header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background: #fff;
	border-bottom: solid 3px #bbb;
	opacity: .5;
}

#header:hover {
	opacity: .7;
}

#header h1 {
	margin: 0;
	padding: 7px 20px 10px;
	padding: .7rem 2rem 1rem;
	font-size: 16px;
	font-size: 1.6rem;
	color: #888;
	font-weight: normal;
}

#nav {
	position: absolute;
	top: 0;
	right: 20px;
	right: 2rem;
}

.nav-button {
	float: left;
	padding: 10px;
	padding: 1rem;
	text-decoration: none;
	color: #888;
	font-size: 16px;
	font-size: 1.6rem;
	font-style: normal;
}

.current, a.nav-button:hover {
	color: #333;
}

/*------------------------  HEAD SLIDE */
#hackasoton-wrapper {
	width: 100%;
	text-align: center;
	position: fixed;
	overflow: hidden;
	z-index: 100;
}
#hackasoton {
	text-align: center;
	position: relative;
	background-image: url(../wallpapers/hackasoton-top-wallpaper.jpg);
	background-size: cover;
	top:0;
}
#hackasoton-header {
	background-image: url(../images/hackasoton-white.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-color: transparent;
	position:relative;
	top:12%;
	left:0%;
	width:70%;
	height:28%;
	max-height: 150px;
}
#hackasoton-slogan {
	font-size: 1.3em;
	width: 80%;
	top:14%;
	position:relative;
	margin-left: auto ;
	margin-right: auto ;
	font-family: Akashi;
	color: white;
}

#hackasoton-logo {
	font-size: 1.7em;
	font-family: Akashi;
	color: white;
	position:absolute;
	bottom: 0%;
	right:8%;
}

#hackasoton-year {
	font-size: 13em;
	font-family: Akashi;
	color: #509cc7;
	opacity: 0.2;
	position:absolute;
	bottom:0%;
	height:360px;

	-webkit-animation: move-year 150s linear infinite; /* Safari 4+ */
	-moz-animation:    move-year 150s linear infinite; /* Fx 5+ */
	-o-animation:      move-year 150s linear infinite; /* Opera 12+ */
	animation:         move-year 150s linear infinite; /* IE 10+ */
}

@-webkit-keyframes move-year{

	0%{right:0%;}
	50%{right:50%;}
	100%{right:0%;}
}

#hackasoton-month {
	position:absolute;
	font-family: Akashi;
	font-size: 3em;
	bottom: 31%;
	left: 0px;
	opacity: 0.4;
	color: #509cc7;
	
	-webkit-animation: move-month 100s linear infinite; /* Safari 4+ */
	-moz-animation:    move-month 100s linear infinite; /* Fx 5+ */
	-o-animation:      move-month 100s linear infinite; /* Opera 12+ */
	animation:         move-month 100s linear infinite; /* IE 10+ */
}

@-webkit-keyframes move-month{

	0%{left:0%;}
	50%{left:70%;}
	100%{left:0%;}
}

#hackasoton-day {
	position: absolute;
	font-family: Akashi;
	font-size: 3em;
	top: 7%;
	right: 4%;
	opacity: 0.7;
	color: #509cc7;
}

/*------------------------  ABOUT SLIDE */

