=clearfix
	zoom: 1
	&:before, &:after
		content: ""
		display: table
	&:after
		clear: both

@import "colours"

@import "nav"
@import "home"
@import "event"
@import "judges"
@import "organizers"
@import "prizes"
@import "schedule"
@import "android"

@font-face
	font-family: Akashi
	src: url(fonts/akashi.ttf)

@font-face
	font-family: NexaBold
	src: url(fonts/NexaBold.otf)

body
	:margin 0px
	font-family: Arial, "Lucida Grande", sans-serif
	font-weight: 300
 
h1, h2, h3, h4, h5, h6
	:margin-top 0px
	:font-family $main-font

a
	:color $link
	:text-decoration none
	&:hover
		:color $link-hover
	&:focus
		:color $link-focus


article
	:position relative
	:z-index 1
	:padding 67px 0px 30px 0px
	:background-color $article-bgcolor
	:width 100%
	+clearfix()

.wrapper
	:width 100% - (2*$article-side-padding)
	:margin 0 auto
	+clearfix

article h1
	:font-family $second-font
	:font-size 3em
	:text-align center
	:font-weight normal

#apply-button
	background: #222
	right: 5px
	top: 4px
	padding: 5px 10px 6px
	color: #fff
	text-decoration: none
	font-weight: bold
	line-height: 1
	-moz-border-radius: 5px
	-webkit-border-radius: 5px
	-moz-box-shadow: 0 1px 3px #999
	-webkit-box-shadow: 0 1px 3px #999
	text-shadow: 0 -1px 1px #222
	border-bottom: 1px solid #222
	position: absolute
	cursor: pointer
	&:active
		background: #444





